<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <%if controller?("cohort") && action?("index")%> 
         <a><%= link_to 'Students', cohort_show_path, :class => "btn btn-success" %></a>
         <a><%= link_to 'Data', cohor_data_path, :class => "btn btn-success" %></a>
         <a><%= link_to 'Attendance', cohort_att_path, :class => "btn btn-success" %></a>
           <%elsif controller?("cohort") && action?("show")%>
           <a><%= link_to "Cohort's Home", cohort_path, :class => "btn btn-success" %></a>
           <a><%= link_to 'Data', cohor_data_path, :class => "btn btn-success" %></a>
           <a><%= link_to 'Attendance', cohort_att_path, :class => "btn btn-success" %></a>
             <%elsif controller?("cohort") && action?("data")%>
             <a><%= link_to "Cohort's Home", cohort_path, :class => "btn btn-success" %></a>
             <a><%= link_to 'Students', cohort_show_path, :class => "btn btn-success" %></a>
             <a><%= link_to 'Attendance', cohort_att_path, :class => "btn btn-success" %></a>
               <%elsif controller?("cohort") && action?("attendance")%>
               <a><%= link_to "Cohort's Home", cohort_path, :class => "btn btn-success" %></a>
               <a><%= link_to 'Students', cohort_show_path, :class => "btn btn-success" %></a>
               <a><%= link_to 'Data', cohor_data_path, :class => "btn btn-success" %></a>
        <%end%>
      </div>
  </div>
</div>
