<html>
<head>
	<title></title>
</head>
<body>
	<div class="container-fluid">
	<h1> Available Cohorts </h1>
	<ul> 
		<% @cohorts.each do |cohort| %>
		<li><h2><%=link_to "Cohort #{cohort.name}", cohort_show_path(cohort.id) %></h2></li>
		<%end%>
	</ul>
	<div>
		<%= form_for @cohort, url: "/cohort/new", method: "post" do  |f| %>
						<%= f.text_field :title, :placeholder => "Cohort Number" %><br>
						<%= f.text_area :content, :placeholder => "Cohort Type" %><br>
						<%= f.submit "Add post" %>
					<% end %>
	</div>
   </div>

</body>
</html>