<html>
<head>
	<title></title>
	<script type="text/javascript"></script>
</head>
<body>
	<%= javascript_tag do %>
  window.presentData = JSON.parse('<%=  @present %>');
  window.absentData = JSON.parse('<%=  @absent %>');
<% end %>
<div class="container-fluid">
	<h1><%=@klass.subject%> <%=@klass.name%></h1>
	<hr>
	<h2> Class Attendance </h2>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align: center;">
			<button class="btn"><%= link_to "Students", "/cohort/#{@klass.id}/students/show"%></button>
			<button class="btn"><%= link_to "Attendance", "/cohort/#{@klass.id}/attendance"%></button>
			<button class="btn"><%= link_to "Projects", "/cohort/#{@klass.id}/projects"%></button>
		</div>
	</div>
	<hr>
	<div class="chart">
		<div id="chart" class="c3"></div>
	</div>
	<h2> Average Comprehension </h2>
	<div class="compChart">
		<div id="compChart" class="c3"></div>
	</div>
	<hr>

</div>
</body>
</html>